@charset "utf-8";
*{
	margin: 0;
	padding: 0;
	outline: none;
}

html {
	height: 100%;
}

body {
    width: auto;   
}

a{
	text-decoration: none;
	color: black;
}

header {
	background-color: white ;
	width: 100% ;	
	height: 60px;
	display: flex;
	box-shadow: 0 0 30px rgba(0,0,0,0.4);
	padding-top: 10px;
	color: black;
	z-index: 1;	
	position: fixed ;
}

.wrapper{
	width: 76%;
	margin: 0 auto;
	
}

.nameLogo{	
    display: flex;    
	padding: 1px; 
	
}

.logoName{
	margin-left: 50px;
}

.topnav{
    margin-left: auto;
    padding-top: 10px;    
}

.topnav a{    
    text-align: center;
    padding: 14px 16px;
    font-size: 15px;
}

.about{
    padding-top: 80px ;
	display: flex;	
}

.rightAbout{
   margin: -5% -10% 0 0 ;          
}

.leftAbout{
	margin: 45px 120px 0 0;	
}

.leftAbout p{
	margin-top: 20px;
}

.titleOne{
	text-align: center;	   
}

.imgGull{
	background:url(img/gull.svg) no-repeat;
	width: 250px;
	height: 110px;
	margin: auto; 
}

.titleOne h2{
	margin: auto 240px;
}

.colum{
	display: flex;
	box-sizing: border-box ;
	margin: 0 auto ;
	width: 100% ;
	margin-top: 50px ;
}

dd{
	list-style:none;    
}

dd:before{
	content:"";
    background:url(img/cloud.svg) no-repeat;
    float:left;
    width:30px;
    height:30px;
    margin-right:10px;	 
}

.leftColum{
	display: block;	
    width: 40vw;
    flex: 2;
	box-sizing: border-box ;
	margin: 0 auto ;
	width: 50% ; 
	padding: 0 10px ;           
}

.rightColum{
	display: block;	
    width: 40vw;
    flex: 2;
	box-sizing: border-box ;
	margin: 0 auto ;
	width: 50% ;
	padding: 0 10px ;
}

.titleTwo{
	text-align: center;
	margin-top: 50px;
}

.titleTwo p{
    margin: auto 300px; 
}

.titleTwo button{
	margin: 40px auto; 
	width: 350px;
	height: 50px;
	background: green;
	border-radius: 45px;	
	color: white;
	border: none;
	font-size: 20px;
}

.services{
	background: url(img/fon1.svg) ;
	background-repeat: no-repeat ;
	background-size: cover ; 
	box-sizing: border-box ;
	margin: 0 auto ;		
}

.services h3{
	text-align: center;
	padding-top: 50px;
}

.servicesСards{
	display: flex;
	flex-direction: row;
	box-sizing: border-box ;
	margin: 0 auto ;
	width: 100% ;
	text-align: center ;
	max-width: 1350px ;	
}

.serviseCard{
   box-sizing: border-box ;
   margin: 0 auto ;
   width: 50% ; 
   text-align: center ;       
}

.serviseCard p{
	padding: 0 40px ;
	width: 180px ;
	margin-top: 115px ;
	margin-bottom: 100px ;
	max-width: 1350px ;	
	
}	

.card1{			
	background: url(img/fon2.svg) ;
	background-repeat: no-repeat ;
	background-size: contain ;
}

.card2{			
	background: url(img/fon3.svg) ;
	background-repeat: no-repeat ;
	background-size: contain ;
}

.card3{			
	background: url(img/fon4.svg) ;	
	background-repeat: no-repeat ;
	background-size: contain ;
}

.card4{			
	background: url(img/fon5.svg) ;
	background-repeat: no-repeat ;
	background-size: contain ;	
}

.titleThree{
	margin: auto 200px;
	padding: 40px 200px; 
	text-align: center;
}

.titleThree p{
	margin-top: 40px;
}

.servicesСards2{
	border: solid black 1px;
	background: white;	 
	display: flex;	
}



.serviseCard2{
	box-sizing: border-box ;
	margin: 0 auto ;
	width: 50% ; 
	text-align: center ;       
 }


.activ{
	display: flex;
	flex-direction: column;
}

