@charset "utf-8";
*{
	margin: 0;
	padding: 0;
	outline: none;
}

html {
	height: 100%;
}

body {
    width: auto;   
}

a{
	text-decoration: none;
	color: black;
}

header {	
	height: 60px;
	display: flex;
	box-shadow: 0 0 30px rgba(0,0,0,0.4);
	padding-top: 10px;
	color: black;
}

.wrapper{
	width: 76%;
	margin: 0 auto;
}

.nameLogo{	
    display: flex;    
    padding: 1px; 
}

.logoName{
	margin-left: 50px;
}

.topnav{
    margin-left: auto;
    padding-top: 10px;    
}

.topnav a{    
    text-align: center;
    padding: 14px 16px;
    font-size: 15px;
}

.about{
	display: flex;
}

.rightAbout{
   margin: -5% -10% 0 0 ; 
}

.leftAbout{
	margin: 45px 120px 0 0;	
}

.leftAbout p{
	margin-top: 20px;
}

.titleOne{
	text-align: center;	   
}

.imgGull{
	background:url(img/gull.svg) no-repeat;
	width: 250px;
	height: 110px;
	margin: auto; 
}

.titleOne h2{
	margin: auto 240px;
}

.colum{
	display: flex;	
}

dd{
	list-style:none;    
}

dd:before{
	content:"";
    background:url(img/cloud.svg) no-repeat;
    float:left;
    width:30px;
    height:30px;
    margin-right:10px;	 
}

.leftColum{
	display: block;	
    width: 40vw;
    flex: 2;
    padding: 70px;             
}

.rightColum{
	display: block;	
    width: 40vw;
    flex: 2;
    padding: 70px;     
}

.titleTwo{
	text-align: center;
	margin-top: 10px;
}

.titleTwo p{
    margin: auto 300px; 
}

.titleTwo button{
	margin: 20px auto; 
	width: 350px;
	height: 50px;
	background: green;
	border-radius: 45px;	
	color: white;
	border: none;
	font-size: 20px;
}

.services{
    background: url(img/fon1.svg) 100% 100% no-repeat;
    background-size: cover; 
    margin: 50px auto;
}

.services h3{
	text-align: center;
	padding-top: 50px;
}

.servicesСards{
	display: flex;
	flex-direction: row;	
}

.servicesСards p{
    text-align: center;
    margin: 147px 25px 40px 25px;
    padding: 10px 60px ;  
}

.card1{			
	background: url(img/fon2.svg) 50% 100% no-repeat;
	background-size: cover;
}
.card2{			
	background: url(img/fon3.svg) 50% 100% no-repeat;
	background-size: cover;
}

.card3{			
	background: url(img/fon4.svg) 50% 100% no-repeat;
	background-size: cover;
}

.card4{			
	background: url(img/fon5.svg) 50% 100% no-repeat;
	background-size: cover;
}

.titleThree{
	text-align: center;
}

.servicesСards2{
	border: solid black 1px; 
	display: flex;
	padding: 10px 10px 10px 10px; 
}

.card5{
	border: solid black 1px;
}
